.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    background-color: burlywood;
    padding: 10px;
}

.item {
    margin: 50px;
}