.todoform {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 4px 6px rgb(0,0,0,0.5);
}

.modernInput {
    width: 100%;
    display: block;
    border: none;
    color: black;
    font-size: 16px;
}

.modernBtn {
    display: inline;
    border: none;
    border-radius: 4px;
    background-color: burlywood;
    padding: 12px;
    color: aliceblue;
    cursor: pointer;
}

.modernInput:focus {
    outline: none;
}

.formflex {display: flex;}